<!DOCTYPE html>
<html>
    <head>
        <title><%= data.title %></title>
        <link rel="favicon" href="/images/favicon.ico" />
        <!-- Google Materual Icons -->
        <link
            href="https://fonts.googleapis.com/icon?family=Material+Icons"
            rel="stylesheet"
        />
        <!-- Local CSS Theme -->
        <link rel="stylesheet" href="/stylesheets/setting.css" />
        <link rel="stylesheet" href="/stylesheets/absence.css" />
    </head>
    <body>
        <%- include ./header.ejs%>
        <div class="main-page">
            <div class="absence-func-component">
                <a class="create-absence-component" href="/absence/create">
                    <div class="title">유고결석 사유서</div>
                    <div class="subtitle">작성하기</div>
                    <img src="images/btn.png" alt="" srcset="" />
                </a>
                <div class="absence-info-component">
                    <div class="item">
                        <div class="title">제출</div>
                        <div class="detail"><%= num_absence["제출"]%></div>
                    </div>
                    <div class="item">
                        <div class="title">승인 대기중</div>
                        <div class="detail">
                            <%= num_absence["승인 대기중"]%>
                        </div>
                    </div>
                    <div class="item">
                        <div class="title">승인 완료</div>
                        <div class="detail"><%= num_absence["승인 완료"]%></div>
                    </div>
                    <div class="item">
                        <div class="title">승인 거절</div>
                        <div class="detail"><%= num_absence["승인 거절"]%></div>
                    </div>
                </div>
            </div>

            <div class="absence-component">
                <img
                    src="https://www.dongseo.ac.kr/_Template/Main/demo/_Img/qpop_ico04.gif"
                    alt=""
                    class="icon"
                />
                <div class="header">
                    <h2>제출한 유고결석</h2>
                </div>
                <div class="list">
                    <div class="itemh">
                        <span class="context">결석 사유</span>
                        <span class="period">유고 결석 기간</span>
                        <span class="wdate">작성일</span>
                        <span class="status">상태</span>
                    </div>
                    <% if (absence.length == 0) { %>
                    <div class="no-item">
                        <img
                            src="https://www.dongseo.ac.kr/_Template/Main/demo/_Img/qpop_ico21.gif"
                            alt=""
                            srcset=""
                        />
                        불러올 데이터가 없습니다.
                    </div>
                    <% } else { for (var i = 0; i < absence.length; i++) { %>
                    <div class="item">
                        <a href="" class="context"><%= absence[i].context %></a>
                        <span class="period"><%= absence[i].period %></span>
                        <span class="wdate"><%= absence[i].wdate %></span>
                        <span class="status"><%= absence[i].status %></span>
                    </div>
                    <% }} %>
                </div>
            </div>
        </div>
    </body>
</html>
