 <!DOCTYPE html>
 <html lang="en">
 <head>
     <head>
         <title><%= data.title %></title>
         <link rel="favicon" href="/images/favicon.ico" />
         <!-- Google Materual Icons -->
         <link
             href="https://fonts.googleapis.com/icon?family=Material+Icons"
             rel="stylesheet"
         />
         <!-- Local CSS Theme -->
         <link rel="stylesheet" href="/stylesheets/setting.css" />
         <link rel="stylesheet" href="/stylesheets/main.css" />
         <link rel="stylesheet" href="/stylesheets/admin.css" />
         <link rel="stylesheet" href="/stylesheets/admin-absent.css" />
     </head>
 </head>
 <body>
    <input id="no" style="display:none;" value="">
    <%- include ./header %>
    <div class="absent-page">
        <%- include ./admin-nav %>
        <div class="content">
            <div class="content-container">
                    <div class="content-container-title">
                        <img
                            class="icon"
                            src="https://www.dongseo.ac.kr/_Template/Main/demo/_Img/qpop_ico45.gif"
                            alt=""
                        />
                        <p>유고결석관리</p>
                    </div>
                <div class="content-container-body">
                    <div class="grid-head">
                        <p>학번</p><p>이름</p><p>상태</p><p>요청일자</p>
                    </div>
                    <div class="grid-body">
                        <% bodydata.forEach((e) => { %>
                            <div class="grid-data" onclick="popup_access_background_show('<%= e.no %>', '<%= e.context %>', '<%= e.period %>', '<%= e.file %>')">
                                <p><%= e.uid %></p>
                                <p><%= e.uname %></p>
                                <p><%= e.status %></p>
                                <p><%= e.wdate %></p>
                            </div>
                        <% }) %>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="popup_hide">
        <div class="popup">
            <div class="body-col">
                <div class="body-top">
                    유고결석 신청서
                </div>
                <div class="body-mid">
                    <p id="popup-period"></p>
                    <input id="popup-context" readonly>
                </div>
                <div class="body-foot">
                    <a id ="download" href="" download>
                        <button>첨부파일</button>
                    </a>
                    <button type="button" onclick="access()">
                        승인
                    </button>
                    <button type="button" onclick="deny()">
                        거절
                    </button>
                    <button type="button" onclick="popup_access_background_hide()">
                        닫기
                    </button>
                </div>
            </div>
        </div>
    </div>
    <script>
        function userPopupShow() {
            var target = document.querySelector(`.user_popup`);
            if (target.style.display == "none" || target.style.display == "") {
                target.style.display = "block";
            } else {
                target.style.display = "none";
            }
        }

        function userPopupEditPwd() {
            var target = document.querySelector(`.user_popup_edit_password`);
            if (target.style.display == "none" || target.style.display == "") {
                target.style.display = "block";
            }
        }

        function userPopupEditPwdClose() {
            var target = document.querySelector(`.user_popup_edit_password`).style.display = "none";
        }

        function popup_access_background_show(no, context, period, file) {
            document.querySelector(`.popup_hide`).style.display = "flex";
            document.querySelector(`#no`).value = no;
            document.querySelector(`#popup-context`).value = context;
            document.querySelector(`#popup-period`).innerHTML = "유고결석기간: " + period
            document.querySelector(`#download`).href = file;
        }

        function popup_access_background_hide() {
            document.querySelector(`.popup_hide`).style.display = "none";
        }

        function access() {
            var no = document.querySelector(`#no`).value;
            let form = document.createElement('form');
            form.setAttribute('method', 'post');	
            form.setAttribute('action', '/admin/accessabsent?no=' + no);
            document.charset = 'utf-8';
            let hiddenField = document.createElement('input');
            hiddenField.setAttribute('type', 'hidden');
            hiddenField.setAttribute('name', 'no');
            hiddenField.setAttribute('value', no);
            form.appendChild(hiddenField);
            document.body.appendChild(form);
            form.submit();
        }

        function deny() {
            var no = document.querySelector(`#no`).value;
            let form = document.createElement('form');
            form.setAttribute('method', 'post');	
            form.setAttribute('action', '/admin/denyabsent?no=' + no);
            document.charset = 'utf-8';
            let hiddenField = document.createElement('input');
            hiddenField.setAttribute('type', 'hidden');
            hiddenField.setAttribute('name', 'no');
            hiddenField.setAttribute('value', no);
            form.appendChild(hiddenField);
            document.body.appendChild(form);
            form.submit();
        }

    </script>
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
 </body>
 </html>
