
<!DOCTYPE html>
<html lang="en">
<head>
    <title><%= data.title %></title>
    <link rel="favicon" href="/images/favicon.ico" />
    <!-- Google Materual Icons -->
    <link
        href="https://fonts.googleapis.com/icon?family=Material+Icons"
        rel="stylesheet"
    />
    <!-- Local CSS Theme -->
    <link rel="stylesheet" href="/stylesheets/setting.css" />
    <link rel="stylesheet" href="/stylesheets/main.css" />
    <link rel="stylesheet" href="/stylesheets/admin.css" />
</head>
<body>
    <%- include ./header %>
    <!-- grid frame -->
    <div class="admin_frmae_grid">
        <%- include ./admin-nav.ejs %>
        <div class="admin_content">
            <!-- 메인보드 -->
            <div class="panel_select_main_hide">
                <div class="admin_content_main_grid">
                    <div class="admin_content_main_header">
                        <div class="header_contents">
                            <p>전체 연구원 수</p>
                            <p><%= header_data.users %>명</p>
                        </div>
                        <div class="header_contents">
                            <p>출석 연구원 수</p>
                            <p><%= header_data.attendedUsers %>명</p>
                        </div>
                        <div class="header_contents">
                            <p>미출석 연구원 수</p>
                            <p><%= header_data.absentedUsers %>명</p>
                        </div>
                        <div class="header_contents">
                            <p>미승인 유고결석 개수</p>
                            <p><%= header_data.unapprovedExcused %>개</p>
                        </div>
                    </div>
                    <div class="admin_content_main_cont">
                        cont
                    </div>
                    <div class="admin_content_main_footer">
                        footer
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        function userPopupShow() {
            var target = document.querySelector(`.user_popup`);
            if (target.style.display == "none" || target.style.display == "") {
                target.style.display = "block";
            } else {
                target.style.display = "none";
            }
        }

        function userPopupEditPwd() {
            var target = document.querySelector(`.user_popup_edit_password`);
            if (target.style.display == "none" || target.style.display == "") {
                target.style.display = "block";
            }
        }

        function userPopupEditPwdClose() {
            var target = document.querySelector(`.user_popup_edit_password`).style.display = "none";
        }

    </script>
    <!-- JQuery -->
        <script src="http://code.jquery.com/jquery-latest.min.js"></script>
</body>
</html>