<!DOCTYPE html>
<html lang="en">
    <head>
        <title><%= data.title %></title>
        <link rel="favicon" href="/images/favicon.ico" />
        <!-- Google Materual Icons -->
        <link
            href="https://fonts.googleapis.com/icon?family=Material+Icons"
            rel="stylesheet"
        />
        <!-- Local CSS Theme -->
        <link rel="stylesheet" href="/stylesheets/setting.css" />
        <link rel="stylesheet" href="/stylesheets/main.css" />
        <link rel="stylesheet" href="/stylesheets/admin.css" />
    </head>
    <body>
        <%- include ./header %>
        <div class="board-page">
            <%- include ./admin-nav %>
            <div class="content">
                <div class="content-top">
                    <div class="content-top-head">
                        <img
                            class="icon"
                            src="https://www.dongseo.ac.kr/_Template/Main/demo/_Img/qpop_ico45.gif"
                            alt=""
                        />
                        <p><%= header_data.date %></p>
                    </div>
                    <div class="content-top-body">
                        <!-- Header Component 1 -->
                        <div class="circle">
                            <div class="top"><%= header_data.users %>명</div>
                            <div class="mid"><hr></div>
                            <div class="bottom">총 연구원</div>
                        </div>
                        <!-- Header Component 2 -->
                        <div class="circle">
                            <div class="top"><%= header_data.attendedUsers %>명</div>
                            <div class="mid"><hr></div>
                            <div class="bottom">금일 출석</div>
                        </div>
                        <!-- Header Component 3 -->
                        <div class="circle">
                            <div class="top"><%= header_data.absentedUsers %>명</div>
                            <div class="mid"><hr></div>
                            <div class="bottom">금일 미출석</div>
                        </div>
                        <!-- Header Component 4 -->
                        <div class="circle">
                            <div class="top"><%= header_data.unapprovedExcused %>건</div>
                            <div class="mid"><hr></div>
                            <div class="bottom">미승인 유고결석</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script>
            function userPopupShow() {
                var target = document.querySelector(`.user_popup`);
                if (
                    target.style.display == "none" ||
                    target.style.display == ""
                ) {
                    target.style.display = "block";
                } else {
                    target.style.display = "none";
                }
            }

            function userPopupEditPwd() {
                var target = document.querySelector(
                    `.user_popup_edit_password`
                );
                if (
                    target.style.display == "none" ||
                    target.style.display == ""
                ) {
                    target.style.display = "block";
                }
            }

            function userPopupEditPwdClose() {
                var target = (document.querySelector(
                    `.user_popup_edit_password`
                ).style.display = "none");
            }
        </script>
        <!-- JQuery -->
        <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    </body>
</html>
