<!DOCTYPE html>
<html>
    <head>
        <title><%= data.title %></title>
        <link rel="favicon" href="/images/favicon.ico" />
        <!-- Google Materual Icons -->
        <link
            href="https://fonts.googleapis.com/icon?family=Material+Icons"
            rel="stylesheet"
        />
        <!-- Local CSS Theme -->
        <link rel="stylesheet" href="/stylesheets/setting.css" />
        <link rel="stylesheet" href="/stylesheets/main.css" />
    </head>
    <body>
        <%- include ./header.ejs%>
        <div class="main-page">
            <div class="calander-component">
                <img
                    class="icon"
                    src="https://www.dongseo.ac.kr/_Template/Main/demo/_Img/qpop_ico45.gif"
                    alt=""
                />
                <h2>출석현황</h2>
                <div class="header">
                    <!-- <div class="btn prevDay">
                        <span class="material-icons"> arrow_back </span>
                    </div> -->
                    <!-- <div class="btn nextDay">
                        <span class="material-icons"> arrow_forward </span>
                    </div> -->
                    <h3 class="dateTitle"></h3>
                    <div class="info">
                        <span class="in"></span>입실 시간
                        <span class="out"></span>퇴실 시간
                    </div>
                </div>
                <div class="grid dateHead">
                    <div>일</div>
                    <div>월</div>
                    <div>화</div>
                    <div>수</div>
                    <div>목</div>
                    <div>금</div>
                    <div>토</div>
                </div>
                <div class="grid dateBoard"></div>
            </div>
            <div class="func-wrap">
                <div class="notice-component">
                    <img
                        src="https://www.dongseo.ac.kr/_Template/Main/demo/_Img/qpop_ico31.gif"
                        alt=""
                        class="icon"
                    />
                    <div class="header">
                        <h2>공지사항</h2>
                        <a href="/notice">더보기</a>
                    </div>
                    <div class="list">
                        <% notice.forEach((e) => { %>
                        <div class="item">
                            <a href="/notice/<%= e.no %>" class="title"
                                ><%= e.title %></a
                            >
                            <span class="date"><%= e.wdate %></span>
                        </div>
                        <% }); %>
                    </div>
                </div>
                <div class="link-component">
                    <div class="row">
                        <a class="item item1" href="/check">
                            <div class="title">출석조회</div>
                            <div class="subtitle">바로가기</div>
                            <img src="images/btn.png" alt="" srcset="" />
                        </a>
                        <a class="item item2" href="/notice">
                            <div class="title">공지사항</div>
                            <div class="subtitle">바로가기</div>
                            <img src="images/btn.png" alt="" srcset="" />
                        </a>
                        <a class="item item3" href="/absence">
                            <div class="title">유고결석</div>
                            <div class="subtitle">바로가기</div>
                            <img src="images/btn.png" alt="" srcset="" />
                        </a>
                    </div>
                    <div class="row">
                        <div class="item item4">
                            <div class="title">융합연구소 규칙</div>
                            <div class="subtitle">최종수정일 2022.04.11</div>
                            <a
                                class="download"
                                href="/files/2022-1학기_AI+X융합연구소_연구공간규정(안)_v2.hwp"
                                download
                            >
                                융합연구소 규칙 다운로드
                                <img
                                    src="/images/download.png"
                                    alt=""
                                    srcset=""
                                />
                            </a>
                        </div>
                        <div class="item item5">
                            <div class="title">자리 배정표</div>
                            <div class="subtitle">최종 수정일 2023.01.01</div>
                            <a
                                class="download"
                                href="/files/2023-1학기NM246(AI+X융합연구소) 2차자리배정표.pdf"
                                download
                            >
                                자리 배정표 다운로드
                                <img
                                    src="/images/download.png"
                                    alt=""
                                    srcset=""
                                />
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal -->
        <form method="post">
            <div class="user_popup_edit_password">
                <h4>비밀번호변경</h4>
                <div class="user_popup_edit_password_content">
                    <div class="user_popup_edit_password_pwd">
                        <div>
                            <p>현재 비밀번호</p>
                            <input type="password" id="current_user_pwd" name="current_user_pwd">
                        </div>
                        <div>
                            <p>비밀번호</p>
                            <input type="password" id="new_user_pwd" name="new_user_pwd">
                        </div>
                        <div>
                            <p>비밀번호 확인</p>
                            <input type="password" id="new_user_pwd_chk" name="new_user_pwd_chk">
                        </div>
                    </div>
                    <div class="user_popup_edit_password_cont">
                        <p>▶️개인정보 유출에 유의하시기 바랍니다.</p>
                        <p>▶️하나 이상의 문자, 숫자, 특수 문자가 포함되어야 합니다.</br>
                            [8자리이상 15자리이하, 허용특수문자:!@#$%^&*?]
                        </p>
                    </div>
                    <div class="user_popup_edit_password_footer">
                        <button type="submit" class="user_popup_edit_save" onclick="javascript: form.action='/editpwd';">저장</button>
                        <button type="button" class="user_popup_edit_close" onclick="userPopupEditPwdClose()">닫기</button>
                    </div>
                </div>
            </div>
        </form>
    </body>
    <script>
        // const admin = [20181501, 20181495]
        let check_in = "<%= JSON.stringify(check_in) %>";
        check_in = check_in.replaceAll("&#34;", '"');
        check_in = JSON.parse(check_in);
        let check_out = "<%= JSON.stringify(check_out) %>";
        check_out = check_out.replaceAll("&#34;", '"');
        check_out = JSON.parse(check_out);
        const makeCalendar = (date) => {
            const currentYear = new Date(date).getFullYear();
            const currentMonth = new Date(date).getMonth() + 1;

            const firstDay = new Date(date.setDate(1)).getDay();
            const lastDay = new Date(currentYear, currentMonth, 0).getDate();

            const limitDay = firstDay + lastDay;
            const nextDay = Math.ceil(limitDay / 7) * 7;

            let htmlDummy = "";

            for (let i = 0; i < firstDay; i++) {
                htmlDummy += `<div class="noColor"></div>`;
            }

            for (let i = 1; i <= lastDay; i++) {
                htmlDummy += `<div><p>${i}</p>
                    <div id=${"in" + i} class="in"></div>
                    <div id=${"out" + i} class="out"></div></div>`;
            }

            for (let i = limitDay; i < nextDay; i++) {
                htmlDummy += `<div class="noColor"></div>`;
            }

            document.querySelector(`.dateBoard`).innerHTML = htmlDummy;
            document.querySelector(
                `.dateTitle`
            ).innerText = `${currentYear}년 ${currentMonth}월`;
        };

        const date = new Date();

        makeCalendar(date);

        check_in.forEach((e) => {
            d = new Date(e.date);
            target = document.querySelector("#in" + String(d.getDate()));
            console.log(target.innerHTML);
            target.innerHTML += `<span>${d.getHours()}시 ${d.getMinutes()}분</span>`;
        });
        check_out.forEach((e) => {
            d = new Date(e.date);
            target = document.querySelector("#out" + String(d.getDate()));
            console.log(target.innerHTML);
            target.innerHTML += `<span>${d.getHours()}시 ${d.getMinutes()}분</span>`;
        });

        // // 이전달 이동
        // document.querySelector(`.prevDay`).onclick = () => {
        //     makeCalendar(new Date(date.setMonth(date.getMonth() - 1)));
        // };

        // // 다음달 이동
        // document.querySelector(`.nextDay`).onclick = () => {
        //     makeCalendar(new Date(date.setMonth(date.getMonth() + 1)));
        // };
        
        function userPopupShow() {
            var target = document.querySelector(`.user_popup`);
            if (target.style.display == "none" || target.style.display == "") {
                target.style.display = "block";
            } else {
                target.style.display = "none";
            }
        }

        function userPopupEditPwd() {
            var target = document.querySelector(`.user_popup_edit_password`);
            if (target.style.display == "none" || target.style.display == "") {
                target.style.display = "block";
            }
        }

        function userPopupEditPwdClose() {
            var target = document.querySelector(`.user_popup_edit_password`).style.display = "none";
        }
        
    </script>
</html>
