<!DOCTYPE html>
<html>
    <head>
        <title><%= data.title %></title>
        <link rel="favicon" href="/images/favicon.ico" />
        <!-- Google Materual Icons -->
        <link
            href="https://fonts.googleapis.com/icon?family=Material+Icons"
            rel="stylesheet"
        />
        <!-- Local CSS Theme -->
        <link rel="stylesheet" href="/stylesheets/setting.css" />
        <link rel="stylesheet" href="/stylesheets/notice.css" />
        <link rel="stylesheet" href="/stylesheets/admin.css" />
    </head>
    <body>
        <style>
            .tox-tinymce {
                border: none;
                border-radius: 0px;
            }
        </style>
        <div id="loading">
            <div id="check">
                <span><strong><%= notice[0].title%></strong>을(를)</span>
                <span>정말 삭제하시겠습니까?</span>
                <div class="func-warp">
                    <button id="yes" onclick="del(true);">삭제</button>
                    <button id="no" onclick="del(false);">취소</button>
                </div>
            </div>
            <lottie-player
                id="loadingimg"
                src="/lottie/loading.json"
                background="transparent"
                speed="1"
                style="width: 240px; height: 240px; display: none"
                loop
                autoplay
            ></lottie-player>
        </div>
        <%- include ./header.ejs%>
        <div class="manage-page">
            <%- include ./admin-nav %>
            <div class="content">
                <div class="notice-component">
                    <img
                        src="https://www.dongseo.ac.kr/_Template/Main/demo/_Img/qpop_ico31.gif"
                        alt=""
                        class="icon"
                    />
                    <div class="header">
                        <h2>공지사항 관리</h2>
                    </div>
                    <div class="content">
                        <div class="content-header">
                            <div class="title"><%= notice[0].title %></div>
                            <div class="info-wrap">
                                <div class="wdate">
                                    작성일 : <%= notice[0].wdate %>
                                </div>
                                <div class="view">
                                    조회 <%= notice[0].view %>
                                </div>
                            </div>
                        </div>
                        <div class="content-body">
                            <div id="detail">
                                <textarea id="tiny-viewer" name="detail">
                                    <%= notice[0].detail %>
                                </textarea>
                            </div>
                        </div>
                        <div class="content-footer">
                            <div
                                id="update"
                                class="func"
                                href="/admin/manage/notice"
                            >
                                수정
                            </div>
                            <div
                                id="delete"
                                class="func"
                                href="/admin/manage/notice"
                                onclick="del_check()"
                            >
                                삭제
                            </div>
                            <a class="func" href="/admin/manage/notice">목록</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <script
        type="application/javascript"
        src="/tinymce/tinymce.min.js"
    ></script>
    <script
        type="application/javascript"
        src="/javascripts/tiny-viewer-config.js"
    ></script>
    <script>
        function del_check() {
            var target = document.getElementById("loading");
            target.style.display = "flex";
        }
        function del(b) {
            var loading = document.getElementById("loading");
            var loadingimg = document.getElementById("loadingimg");
            var check = document.getElementById("check");
            if (b) {
                check.style.display = "none";
                loadingimg.style.display = "block";
                var form = document.createElement("form");
                form.setAttribute("method", "post");
                form.setAttribute("action", "/admin/manage/notice/del");
                document.charset = "utf-8";
                var hiddenField = document.createElement("input");
                hiddenField.setAttribute("type", "hidden");
                hiddenField.setAttribute("name", "no");
                hiddenField.setAttribute("value", "<%= notice[0].no %>");
                form.appendChild(hiddenField);
                document.body.appendChild(form);
                form.submit();
            } else {
                loading.style.display = "none";
            }
        }

        var tox = document.getElementsByClassName("tox-tinymce");
        tox.style.cssText = "border: none;";
    </script>
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
    <script src="/javascripts/profile-drop.js"></script>
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
</html>
